// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// .montserrat-regular {
//   font-family: "Montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 700;
//   font-style: normal;
// }

// .montserrat-bold {
//   font-family: "Montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

// .open-sans-regular {
//   font-family: "Open Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

// .open-sans-italic {
//   font-family: "Open Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: italic;
//   font-variation-settings:
//     "wdth" 100;
// }

// .source-sans-3-regular {
//   font-family: "Source Sans 3", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }