@use "include" as *;

//Resolutions below starting from 991.99px ($lg-min)
@media screen and (max-width: $lg-min) {
	.container {
		max-width: 100%;
	}

	.hamburger-toggle {
		display: inline-block;
		position: relative;
		z-index: 5;
		width: 34px;
		height: 34px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&__img {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 5px;
			top: -6px;
			border-radius: 4px;
			background-color: $light-color-primary;
			transition: all 0.3s ease-in-out;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: inherit;
				top: 10px;
				border-radius: inherit;
				background-color: inherit;
				transition: all 0.3s ease-in-out;
			}
			&::after {
				top: -10px;
				transition: all 0.3s ease-in-out;
			}
		}
		&.is-clicked {
		& .hamburger-toggle__img {
			transform: rotate(45deg);
			&::before {
			top: 0;
			transform: rotate(0);
			opacity: 0;
			}
			&::after {
			top: 0;
			transform: rotate(90deg);
			}			
		}
	}
}

.nav-menu {
	margin-right: 0px;
	margin-left: 0px;
	flex-direction: column;
	gap: 0;
	position: absolute;
	overflow: hidden;
	width: 0;
	max-width: 100vw;
	top: 0px;
	right: 0;
	padding: 0;
	border-radius: 2px;
	opacity: 0;
	background: $dark-color-primary;
	transition: all 0.6s ease-in-out;
	z-index: 3;
    &__item {
		text-align: center;
		border: 1px solid #fff;
		width:100%;
    }
    &__link {
		padding: 15px 0;
		&::before {
			left:30px;
		}
		&:hover {
			text-decoration: none;
			transform: scale(1.1) translateY(-1px);

			opacity: 1;
			background-color: $accent-color-primary;
			&::before {
				animation: animateNavCircle 1.8s ease-in-out 0.0s infinite;
			}
		}
    }
	&--mob-visible {
		width: 50vw;
		max-width: 200px;
		right: 40px;
		top: 0px;
		opacity: 0.95;
		transition: all 0.5s ease-in-out;
	}
}



}

//Resolutions from ($md) 768px to 991.99px ($lg-min)
@media screen and (min-width: $md) and (max-width: $lg-min) {

}

//Resolutions below starting from 767.99px ($md-min)
@media screen and (max-width: $md-min) {


}
