@use "functions" as *;
@use "sass:math";

// Main vars
$font-size-html: 10px;
$font-size-global: 18px;
$line-height-global: 3.0rem;
$font-family-global: "Open Sans", sans-serif;
$font-family-headings: "Montserrat", sans-serif;
$container-width: 100%;
$container-width-max: 1170px;
$container-padding: 50px;

$light-color-primary: #fff;
$dark-color-primary: #2c4058;
$dark-color-secondary: #000;
$accent-color-primary: #55b7ff;
$accent-color-secondary: #7e5aff;

$light-color-primary--transparent-40: hex-to-rgb-change-alpha($light-color-primary, 40);
$dark-color-primary--transparent-20: hex-to-rgb-change-alpha($dark-color-primary, 20);

$background-color-global: $light-color-primary;
$font-color-primary: $dark-color-primary;
$font-color-heading: $font-color-primary;


$border-color-primary: $dark-color-primary;

$buttons-color-primary: $dark-color-secondary;
$buttons-color-secondary: $light-color-primary;

$buttons-background-color-primary: $light-color-primary;
$buttons-background-color-secondary: $accent-color-primary;
$buttons-border-color-primary: $border-color-primary;
$buttons-border-color-secondary: $dark-color-primary;

$icons-color: $accent-color-secondary;
$links-color-primary: $accent-color-primary;
$links-color-secondary: $dark-color-primary;

// Breakpoints desktop first
//Widescreen - default CSS
$xxl: 1400px;
$xxl-min: 1399.99px;
$xl: 1200px;
$xl-min: 1199.99px;
$lg: 992px;
$lg-min: 991.99px;
$md: 768px;
$md-min: 767.99px;
$sm: 576px;
$sm-min: 575.99px;
$xs: 360px;
$xs-min: 359.99px;